body {
    font-family: "Calibri", serif;
}

.bubbles {
    stroke-width: 2px;
    stroke: black;
}

.centre {
    display: flex;
    justify-content: center;
    text-align: center;
}

ul li {
   padding: 5px;
}

.text {
    padding: 10px;
}